# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Pasta de dependências
node_modules

# Pasta de build
dist
dist-ssr

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de cache e temporários
.npm
.yarn-integrity
.pnpm-debug.log*
.vite-ssg-temp
.idea
.vscode/*
!.vscode/extensions.json
